{name, "bitcask"}.
{authors, ["Dave Smith <dizzyd@basho.com>", "Justin Sheehy <justin@basho.com>"]}.
{description, "because you need another a key/value storage engine"}.
{homepage, "https://github.com/basho/bitcask"}.
{rebar_compatible, true}.
{license, "Apache License 2.0"}.
{url, {git, "https://github.com/basho/bitcask.git", {tag, "bitcask-1.1.5"}}}.
{applications, [bitcask]}.
